#section{
	background-color: azure;
	margin: auto;
	width: 900px;
	position: relative;
	display: flex;
	flex-wrap: wrap;
		flex-direction: column;
}
#start{
	margin: 100px 150px;
	height: 160px;
	width: 580px;
	background-color: lightblue;
}
#savebutton{
	height: 30px;
	width: 150px;
	background-color: burlywood;
	font-size: 20px;
}
#savebutton:hover{
	background-color: aliceblue;
}
h1{
	font-size: 40px;
	margin: 0 auto;
}
#text{
	margin: 10px auto;
	font-size: 20px;
}
#partiestext{
	width: 100%;
	border: black 2px groove;
	background-color: lightgrey;
	height: 30px;
	width: 100%;
	padding-top:  6px;

}
.partyaff{
	display: inline;
	margin: 0px  100%;
	
}
#trs{
	display: flex;
	flex-direction: row;
	margin: 2px auto;
	border: aquamarine 2px solid;
}