

<<<<<<< HEAD
.section{
	margin: auto;
	height: 600px;
	width: 900px;
	border:black solid 2px;
}
#start{
	margin: 100px 150px;
	height: 160px;
	width: 580px;
	background-color: lightblue;
=======
section{
	height: 600px;
	width: 600px;
	border:black dashed 2px;
>>>>>>> 4b5cadbb8007717362bee62fbacf3b277c9c98d4
}