

#section{
	margin: auto;
	width: 900px;
	border:black solid 2px;
	position: relative;
}
#start{
	margin: 100px 150px;
	height: 160px;
	width: 580px;
	background-color: lightblue;
}
#partiestext{
	width: 100%;
	border: black 2px groove;
	background-color: lightgrey;
	height: 30px;
	width: 100%;
	padding-top:  6px;

}
.partyaff{
	display: inline;
	margin: 0px  100%;
	
}
#trs{
	display: flex;
	flex-direction: row;
}